@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #020617; /* slate-950 */
  color: white;
  overflow: hidden;
  touch-action: manipulation; /* ダブルタップズームを防止 */
}